$bg-color-blue: rgb(28, 202, 202);
$bg-color-white: white;

$color-map: ("blue": rgb(28, 202, 202), 
                "white": white, 
                "grey": grey,
                 "lightGrey": rgb(247, 247, 247),
                "textGrey": rgb(238, 231, 231) 
                 );
